.our-pets__grid {
  display: grid;
  grid-template-columns: minmax(380px, 580px) 180px minmax(280px, 380px);
  grid-template-rows: repeat(2, auto);
  grid-auto-columns: 0;
  grid-auto-rows: 0;
  gap: 48px 20px;
}

.our-pets__grid-item:first-child {
  grid-area: 1 / 1 / 2 / 3;
}

.our-pets__grid-item:nth-last-child(2) {
  grid-area: 1 / 3 / 3 / 4;
}

.our-pets__grid-item_grid {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  grid-column-gap: 20px;
}

.our-pets__pet-img {
  display: block;
  object-fit: cover;
  object-position: center center;
  width: 100%;
  height: 280px;
}

.our-pets__pet-img_big {
  height: 650px;
}

.our-pets__pet-img_small {
  width: 180px;
  height: 140px;
}

.our-pets__pet-caption {
  font-size: 20px;
  line-height: 26px;
}

.our-pets__grid-item_adoptive{
  display: none;
}

@media (max-width: 1200px) {


  .our-pets__grid {
    
    grid-template-columns: minmax(180px, 380px) 180px minmax(180px, 280px);
    gap: 40px 20px;
  }

  .our-pets__pet-img {
    height: 201px;
  }

  .our-pets__pet-img_small {
    width: 180px;
    height: 140px;
  }

  .our-pets__pet-img_middle {
    height: 180px;
  }

  .our-pets__pet-img_big {
    height: 478px;
  }

  .our-pets__pet-caption {
    font-size: 18px;
    line-height: 24px;
  }

}

@media (max-width: 900px) {

  .our-pets__grid-item_full {
    display: none;
  }

  .our-pets__grid-item_adoptive{
    display: block;
  }

  .our-pets__grid-item_grid {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    grid-column-gap: 20px;
  }

  .our-pets__grid {
    display: grid;
    grid-template-columns: minmax(380px, 700px);
    grid-template-rows: repeat(3, auto);
    column-gap: 30px;
    grid-template-areas:none;
  }
  
  .our-pets__pet-img {
    height: 243px;
  }

  .our-pets__pet-img_small {
    width: 295px;
    height: 230px;
  }

  .our-pets__pet-img_middle {
    height: 332px;
  }

  .our-pets__pet-img_big {
    height: 647px;
  }
}

@media (max-width: 320px) {}